<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Layout</title>
</head>
<body>
    <nav class="navbar bg-dark">
        <ui class="nav">
            <li class="nav-item">
                <h3 class="text-light">Cinecus Studio</h3>
            </li>
            <% if(locals.user){ %>
            <li class=nav-item>
                <a class="nav-link" href="/">Member</a>
            </li>
            <li class=nav-item>
                <a class="nav-link" href="logout">Logout</a>
            </li>
            <% } %>
            <% if(!locals.user){ %>
            <li class=nav-item>
                <a class="nav-link" href="register">Register</a>
            </li>
            <li class=nav-item>
                <a class="nav-link" href="login">Login</a>
            </li>
            <%}%>
        </ui>
    </nav>
</body>
</html>