<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <% include layout.ejs %>
    <div class="container mt-3">
        <%- messages() %>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username :</label>
            <input class="form-control" type="text" placeholder="Username" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password :</label>
            <input class="form-control" type="password" placeholder="Password" name="password" id ="password">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
    <script type="text/javascript">
        $("#messages").addClass("alert alert-danger");
    </script>
</body>
</html>